

NEXTAUTH_SECRET=tikki
# NEXTAUTH_URL=https://tikiworkplace.app
# NEXTAUTH_URL=http://192.168.0.123:3000
NEXTAUTH_URL=http://localhost:3000



# NEXT_PUBLIC_API_URL=https://api.tikiworkplace.app
# NEXT_PUBLIC_API_URL=http://192.168.1.136:3001
NEXT_PUBLIC_API_URL=http://localhost:3001

# NEXT_PUBLIC_APP_URL=https://tikiworkplace.app
# NEXT_PUBLIC_APP_URL=http://192.168.0.123:3000 
NEXT_PUBLIC_APP_URL=http://localhost:3000


SECRET_KEY=63a9f0ea7bb98050796b649e85481845dc76e77a1a4e702c77c853f4c9e2941e




