@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100vh;
}

body {
  @apply font-Open-Sans;
}

/* :root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

/* 
@layer base {
  html {
    @apply scroll-smooth;
  }
}

.scrollbar-thin::-webkit-scrollbar {
  width: 2px;
  height: 10px;margin-left: 4px;
  cursor: pointer;
  /*background-color: rgba(229, 231, 235, var(--bg-opacity));*/

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: rgba(229, 231, 235, var(--bg-opacity));
  cursor: pointer;
  margin-left: 4px;
  /*background: red;*/
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  cursor: pointer;
  margin-left: 4px;
  background-color: #e0e0e0;
  /*outline: 1px solid slategrey;*/
}

.br {
  border: 1px solid red;
}

.bb {
  border: 1px solid blue;
}

.b {
  border: 1px solid black;
}

.shadow-m {
  box-shadow: 0px 2px 8px 0px #00000033;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* select option style */
.semple-select-option .css-13cymwt-control,
.semple-select-option .css-t3ipsp-control {
  height: 40px;
  background: #ffffff;
  /* border: none; */
  border: 2px solid #eeeeee;
  border-radius: 8px;
  box-shadow: none;
}

.semple-select-option .css-1u9des2-indicatorSeparator,
.css-15lsz6c-indicatorContainer:hover {
  display: none;
}

.semple-select-option .css-1hb7zxy-IndicatorsContainer .css-1xc3v61-indicatorContainer svg,
.semple-select-option .css-1hb7zxy-IndicatorsContainer .css-15lsz6c-indicatorContainer svg {
  display: none;
}

.semple-select-option .css-1hb7zxy-IndicatorsContainer .css-1xc3v61-indicatorContainer::before,
.semple-select-option .css-1hb7zxy-IndicatorsContainer .css-15lsz6c-indicatorContainer::before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #616161;
  margin-right: 7px;
  margin-top: 2px;
}

/* .color-select-option {} */

body::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color: #fff;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display: none;
}

body>div:nth-child(16)>div.flex.w-screen.fixed.inset-0.z-50.overflow-x-auto.justify-center.h-\[--visual-viewport-height\].items-start.sm\:items-start.overflow-y-auto.\[--scale-enter\:100\%\].\[--scale-exit\:100\%\].\[--slide-enter\:0px\].\[--slide-exit\:80px\].sm\:\[--scale-enter\:100\%\].sm\:\[--scale-exit\:103\%\].sm\:\[--slide-enter\:0px\].sm\:\[--slide-exit\:0px\] {
  align-items: center;
}

button.absolute.appearance-none.select-none.top-1.end-1.p-2.text-foreground-500.rounded-full.hover\:bg-default-100.active\:bg-default-200.tap-highlight-transparent.outline-none.data-\[focus-visible\=true\]\:z-10.data-\[focus-visible\=true\]\:outline-2.data-\[focus-visible\=true\]\:outline-focus.data-\[focus-visible\=true\]\:outline-offset-2 {
  display: none;
}

.scroll-bar {
  overflow-x: auto;
  /* Ensure the element can scroll horizontally */
}

.scroll-bar::-webkit-scrollbar {
  height: 5px;
}

.scroll-bar::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Optional: Background color for the track */
}

.scroll-bar::-webkit-scrollbar-thumb {
  background: #888;
  /* Optional: Color for the scrollbar thumb */
  border-radius: 10px;
  /* Optional: Rounded corners for the thumb */
}

.scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.semple-select-option .css-13cymwt-control,
.semple-select-option .css-t3ipsp-control:hover {
  border-color: rgb(224 224 224);
}

.semple-select-option .css-13cymwt-control,
.semple-select-option .css-t3ipsp-control,
.rmsc .dropdown-heading,
.css-13cymwt-control {
  height: 50px !important;
  background: white;
  border-radius: 10px !important;
  border-color: rgb(224 224 224);
}

span.text-default-400.transition-transform.rotate-0.data-\[open\=true\]\:-rotate-90.rtl\:-rotate-180.rtl\:data-\[open\=true\]\:-rotate-90 {
  display: none;
}